# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# 这些选项是不符合其它任何种类的常规选项。
##########################################################################################################

general {
    # backtools.config.prop.blacklistedItemClasses.comment [default: ]
    S:blacklistedItemClasses <
     >
}


