# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:blacklistTickingBlocks=true
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    B:fullBlockCrafting=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    B:requireBagSpace=false
    I:stoneChiselUses=8384
    B:voidExcessBits=false
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:dynamicRenderFullChunksOnly=true
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    I:minimizeLatancyMaxTime=100
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedMaterial=true
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SameMaterial=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    D:radialMenuVolume=0.10000000149011612
    B:showUsage=true
}


crafting {
    B:enableChiselCrafting=true
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:appeng.block.misc.BlockQuartzFixture=true
    B:appeng.block.misc.BlockTinyTNT=true
    B:appeng.decorative.solid.BlockChargedQuartzOre=true
    B:appeng.decorative.solid.BlockChiseledQuartz=true
    B:appeng.decorative.solid.BlockFluix=true
    B:appeng.decorative.solid.BlockQuartz=true
    B:appeng.decorative.solid.BlockQuartzGlass=true
    B:appeng.decorative.solid.BlockQuartzLamp=true
    B:appeng.decorative.solid.BlockQuartzOre=true
    B:appeng.decorative.solid.BlockQuartzPillar=true
    B:appeng.decorative.solid.BlockSkyStone=true
    B:"binnie.extratrees.blocks.wood.BlockETLog$1"=true
    B:"binnie.extratrees.blocks.wood.BlockETPlank$1"=true
    B:"blusunrize.immersiveengineering.common.IEContent$1"=true
    B:blusunrize.immersiveengineering.common.blocks.BlockIEBase=true
    B:blusunrize.immersiveengineering.common.blocks.metal.BlockMetalDecoration0=true
    B:cofh.thermalfoundation.block.BlockOre=true
    B:cofh.thermalfoundation.block.BlockOreFluid=true
    B:cofh.thermalfoundation.block.BlockRockwool=true
    B:cofh.thermalfoundation.block.BlockStorage=true
    B:cofh.thermalfoundation.block.BlockStorageAlloy=true
    B:cofh.thermalfoundation.block.BlockStorageResource=true
    B:com.Da_Technomancer.crossroads.blocks.BasicBlock=true
    B:com.Da_Technomancer.crossroads.blocks.DetailedCrafter=true
    B:com.Da_Technomancer.crossroads.blocks.MultiPistonBase=true
    B:"com.Da_Technomancer.crossroads.items.itemSets.OreSetup$1"=true
    B:"com.Da_Technomancer.crossroads.items.itemSets.OreSetup$2"=true
    B:"com.Da_Technomancer.crossroads.items.itemSets.OreSetup$3"=true
    B:"com.Da_Technomancer.crossroads.items.itemSets.OreSetup$4"=true
    B:"com.Da_Technomancer.crossroads.items.itemSets.OreSetup$5"=true
    B:"com.Da_Technomancer.crossroads.items.itemSets.OreSetup$6"=true
    B:"com.Da_Technomancer.crossroads.items.itemSets.OreSetup$7"=true
    B:com.bafomdad.uniquecrops.blocks.BlockBaseUC=true
    B:com.bafomdad.uniquecrops.blocks.BlockFlywoodLog=true
    B:com.bafomdad.uniquecrops.blocks.BlockOldGravel=true
    B:com.bafomdad.uniquecrops.blocks.BlockOldStone=true
    B:com.bafomdad.uniquecrops.blocks.BlockRuinedBricksRed=true
    B:com.digitalfeonix.hydrogel.block.BlockHydroGel=true
    B:com.direwolf20.buildinggadgets.common.blocks.ConstructionBlockDense=true
    B:crazypants.enderio.base.block.darksteel.obsidian.BlockReinforcedObsidian=true
    B:crazypants.enderio.base.block.decoration.BlockDecoration=true
    B:crazypants.enderio.base.block.decoration.BlockDecorationFacing=true
    B:crazypants.enderio.base.block.infinity.BlockInfinity=true
    B:crazypants.enderio.base.block.insulation.BlockIndustrialInsulation=true
    B:crazypants.enderio.base.material.alloy.BlockAlloy=true
    B:crazypants.enderio.base.material.alloy.endergy.BlockEndergyAlloy=true
    B:de.sanandrew.mods.immersivecables.block.BlockCoil=true
    B:ferro2000.immersivetech.common.blocks.stone.BlockStoneDecoration=true
    B:flaxbeard.immersivepetroleum.common.blocks.BlockIPBase=true
    B:"forestry.apiculture.blocks.BlockHoneyComb$1"=true
    B:"forestry.arboriculture.blocks.BlockArbLog$1"=true
    B:"forestry.arboriculture.blocks.BlockArbPlanks$1"=true
    B:forestry.arboriculture.blocks.BlockCharcoal=true
    B:"forestry.arboriculture.blocks.BlockFireproofVanillaLog$1"=true
    B:"forestry.arboriculture.blocks.BlockFireproofVanillaPlanks$1"=true
    B:forestry.arboriculture.blocks.BlockLoam=true
    B:forestry.core.blocks.BlockAshBrick=true
    B:forestry.core.blocks.BlockResourceOre=true
    B:forestry.core.blocks.BlockResourceStorage=true
    B:knightminer.ceramics.blocks.BlockClayHard=true
    B:knightminer.ceramics.blocks.BlockClayRainbow=true
    B:knightminer.ceramics.blocks.BlockClaySoft=true
    B:knightminer.ceramics.blocks.BlockStained=true
    B:mcjty.deepresonance.blocks.MachineFrame=true
    B:mcjty.deepresonance.blocks.ore.DenseObsidianBlock=true
    B:mcjty.deepresonance.blocks.ore.ResonatingOreBlock=true
    B:mcjty.deepresonance.blocks.poisondirt.PoisonedDirtBlock=true
    B:mcjty.xnet.blocks.redstoneproxy.RedstoneProxyBlock=true
    B:mcjty.xnet.blocks.redstoneproxy.RedstoneProxyUBlock=true
    B:me.ichun.mods.ichunutil.common.block.BlockCompactPorkchop=true
    B:mods.railcraft.common.blocks.aesthetics.brick.BlockBrick=true
    B:mods.railcraft.common.blocks.aesthetics.concrete.BlockReinforcedConcrete=true
    B:mods.railcraft.common.blocks.aesthetics.metals.BlockMetal=true
    B:mods.railcraft.common.blocks.ore.BlockOreMagic=true
    B:mods.railcraft.common.blocks.ore.BlockOreMetal=true
    B:mods.railcraft.common.blocks.ore.BlockOreMetalPoor=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockConcretePowder=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlazedTerracotta=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockIce=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockMycelium=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObserver=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStainedHardenedClay=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:"org.cyclops.integrateddynamics.block.BlockCrystalizedChorusBlockConfig$1"=true
    B:"org.cyclops.integrateddynamics.block.BlockCrystalizedChorusBrickConfig$1"=true
    B:"org.cyclops.integrateddynamics.block.BlockCrystalizedMenrilBlockConfig$1"=true
    B:"org.cyclops.integrateddynamics.block.BlockCrystalizedMenrilBrickConfig$1"=true
    B:org.cyclops.integrateddynamics.block.BlockLogicProgrammer=true
    B:org.cyclops.integrateddynamics.block.BlockMenrilLog=true
    B:org.cyclops.integrateddynamics.block.BlockMenrilLogFilled=true
    B:"org.cyclops.integrateddynamics.block.BlockMenrilPlanksConfig$1"=true
    B:org.dave.compactmachines3.block.BlockWallBreakable=true
    B:shadows.fastbench.block.BlockFastBench=true
    B:sonar.fluxnetworks.common.block.BlockCore=true
    B:vswe.stevescarts.blocks.BlockMetalStorage=true
}


"integration settings" {
    B:ShowBitsInJEI=false
    B:enableMCMultipart=true
    B:enableVivecraftCompatibility=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableTapeMeasure=true
    B:enableWoodenWrench=true
}


troubleshooting {
    B:disableCustomVertexFormats=false
    B:enableAPITestingItem=false
    B:enableFaceLightmapExtraction=true
    B:logEligibilityErrors=false
    B:logTileErrors=false
    B:useGetLightValue=true
}


