# Configuration file

general {
    # Enable ember spawn
    B:spawnEmbers=true

    # Enable faerie spawn
    B:spawnFaeries=true

    # Enable firefly spawn
    B:spawnFireflies=true

    # Enable lightning bug spawn
    B:spawnLightningBugs=true

    # Enable psi firefly spawn
    B:spawnPsiFireflies=true

    # Enable will o' wisp spawn
    B:spawnWillOWisps=true
}


